01_Data/Site selection data
01_Data/Metadata_Renne_etal_2025_Shrub-grassdynamics.docx
02_Code/Obsolete/
02_Code/Site selection
02_Code/Prepare data for submission/
03_Figures/Final_figures/
03_Figures/Obsolete/
Obsolete/
WL Diagrams/
.Rproj.user
.Rhistory
